.chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}
.chat_container{
    height: 400px;
    width: 100%;
    border: 1px solid black;
}
textarea{
    width: 100%;
    border: 1px solid black;
    resize: none;
}
.chat_input{
    width: 100%;
}